@import "tailwindcss";


:root {
  /* Base */
  --color-white: #ffffff;


  /* Text */
  --color-text-primary: #323232;
  --color-text-secondary: #969696;
  --color-text-light: #F3F3F3;

  /* UI */
  --color-gray-light: #c2c2c2;
  --color-blue: #76b7cd;
  --color-cream: #f1ece6;
  --color-orange: #d98326;
  --color-yellow: #fce588;
  --color-red: #b30b04;

  /* Gradient */
  --gradient-weather: linear-gradient(90deg, #00d2ff, #3a7bd5);
}

/* --------------------
   Base Styles
--------------------- */
body {
  background: #ffffff;
  color: var(--color-text-primary);
  font-family: Helvetica, Arial, sans-serif;
}

/* --------------------
   Typography Utilities
--------------------- */

/* Input */
.input-text {
  @apply text-[18px] md:text-[24px] lg:text-[32px];
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
  color: var(--color-text-secondary);

}

/* Button */
.button-primary {
  font-family: "Poppins", sans-serif;
  @apply text-[20px] md:text-[28x] lg:text-[38px];
  font-weight: 600; /* SemiBold */
  line-height: 100%;
  letter-spacing: 5%;
  color: var(--color-text-light);
  background-color: var(--color-blue);
}

/* Hide completed */
.text-hide-completed {
  @apply text-[16px] md:text-[24px] ;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-orange);
}

/* Todo list item */
.todo-item {
  @apply text-[18px] md:text-[28px] lg:text-[32px];
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-text-primary);
}
.todo-item-completed {
  @apply text-[18px] md:text-[28px] lg:text-[32px];
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-gray-light);

}




/* --------------------
   Icon Utilities
--------------------- */

/* Bin icon */
.icon-bin {
  @apply w-6 h-6 md:w-8 md:h-8 ;
  opacity: 0.3;
  color: var(--color-red);
}

/* Check icon */
.icon-check {
  @apply w-9.5 h-9.5 md:w-11.5 md:h-11.5;

}

/* --------------------
   Background Utilities
--------------------- */

.bg-weather-gradient {
  background: var(--gradient-weather);
  opacity: 0.59;
}
.bg-cream {
  background-color: var(--color-cream); /* #F1ECE6 */
}
.bg-blue {
  background-color: var(--color-blue); /* #76B7CD */
}
